Daarasystem/Connected Services/Toubasoft.Service/ServiceSOS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddEleve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEleveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddEleveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddEleveSoapIn">
    <wsdl:part name="parameters" element="tns:AddEleve" />
  </wsdl:message>
  <wsdl:message name="AddEleveSoapOut">
    <wsdl:part name="parameters" element="tns:AddEleveResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSOSSoap">
    <wsdl:operation name="AddEleve">
      <wsdl:input message="tns:AddEleveSoapIn" />
      <wsdl:output message="tns:AddEleveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSOSSoap" type="tns:ServiceSOSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEleve">
      <soap:operation soapAction="http://tempuri.org/AddEleve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSOSSoap12" type="tns:ServiceSOSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEleve">
      <soap12:operation soapAction="http://tempuri.org/AddEleve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSOS">
    <wsdl:port name="ServiceSOSSoap" binding="tns:ServiceSOSSoap">
      <soap:address location="http://localhost:51928/ServiceSOS.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSOSSoap12" binding="tns:ServiceSOSSoap12">
      <soap12:address location="http://localhost:51928/ServiceSOS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>